{
  auto_https disable_redirects
  servers :443 {
    protocols h1 h2
  }
}

teszt.tapexpert.eu {
  tls internal
  reverse_proxy /calendar* 172.30.32.1:8124
  reverse_proxy /edit_booking* 172.30.32.1:8124
  reverse_proxy /* 172.30.32.1:8123
}
